# 서울시 주민등록인구 내국인 각세별동별 통계 분석

### Hwang in woo 
- 06/22

In [1]:
# 패키지 불러오기
import pandas as pd
import numpy as np

## 1. 파일 읽고 DataFrame으로 생성과정

### 1-1. 데이터 읽고 확인하기

In [2]:
# 파일 읽기
data = pd.read_csv( '3.서울시 주민등록인구 내국인 각세별동별 통계.txt', sep = '\t', encoding = 'utf-8')
data

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,2020.1/4,합계,합계,"9,733,655","49,051","54,104","57,361","63,603","69,433","69,302",...,"7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996,"6,423"
1,2020.1/4,종로구,소계,"151,217",603,580,660,758,840,848,...,195,126,124,98,67,59,66,52,36,261
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,-,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,-,-,-,-,-,2,...,1,1,3,1,-,1,1,-,-,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,-,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22

### 1-2. 데이터 속성 확인하기

In [12]:
# 데이터 속성 확인하기
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Columns: 105 entries, 기간 to 100세 이상+
dtypes: object(105)
memory usage: 370.1+ KB

In [4]:
data.shape

(451, 105)

In [7]:
data.dtypes

기간          object
자치구         object
동           object
합계          object
0세          object
             ...
96세         object
97세         object
98세         object
99세         object
100세 이상+    object
Length: 105, dtype: object

### 1-3. 결측치 확인하기

In [10]:
# 결측치 확인하기 
data.isnull()

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
447,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
448,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
449,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
# 전체 데이터에서 '-'값 확인하기
f = data.loc[0:] == '-'         # 전체 데이터에서 '-'값 확인하기
s = f.sum()                     # 변수마다 '-'개수 합하기
s.sum()                         # 각 변수  '-'개수를 합해서 총합 구하기

148

### 1-3. '-'값을 0으로 바꾸기
- 0세~100세 이상까지 인원을 나타내는 데이터이기 때문에 평균을 넣으면 데이터의 의미가 훼손될 수 있기 때문에 0으로 넣었음
- '-'값을 0으로 대체해도 큰 문제가 없다고 판단

In [23]:
data[data.loc[:] == '-'] = '0'

In [24]:
data

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,2020.1/4,합계,합계,"9,733,655","49,051","54,104","57,361","63,603","69,433","69,302",...,"7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996,"6,423"
1,2020.1/4,종로구,소계,"151,217",603,580,660,758,840,848,...,195,126,124,98,67,59,66,52,36,261
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,0,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,0,0,0,0,0,2,...,1,1,3,1,0,1,1,0,0,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,0,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22

In [28]:
# 0으로 대체한 데이터의 값 다시 확인해보기
f = data.loc[0:] == '-'        
s = f.sum()                     
s.sum()                         

# '-'의 값이 0으로 전부 0으로 바뀜

0

## 2. 문제 정의
- 1. 각 자치구에 거주하는 연령별 인구
- 2. 청년(나이)기준 많이 거주하는 자치구
- 3. 노인(나이)기준 많이 거주하는 자치구
- 4. 출산률(0세)기준 많은 자치구

### 2-1. 통계 및 연산에 편하게 변수 줄이기 (문제 정의 기준)

In [29]:
data2 = data

In [30]:
data2.drop[ '0세':'1세']

TypeError: 'method' object is not subscriptable

## 3. 기본 통계 분석

### 3-1. 데이터 요약 정보

In [27]:
data.describe()

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
count,451,451,451,451,451,451,451,451,451,451,...,451,451,451,451,451,451,451,451,451,451
unique,1,26,426,450,224,232,233,243,259,266,...,74,65,56,51,44,42,38,35,29,70
top,2020.1/4,송파구,소계,"22,946",66,123,129,84,125,197,...,16,11,10,8,4,4,4,2,2,9
freq,451,28,25,2,7,7,6,7,7,7,...,30,33,35,45,55,62,70,99,106,34