# 서울시 주민등록인구 내국인 각세별동별 통계 분석

### Hwang in woo 
- 06/22

In [79]:
import pandas as pd
import numpy as np

In [80]:
data = pd.read_csv( '3.서울시 주민등록인구 내국인 각세별동별 통계.txt', sep = '\t', encoding = 'utf-8')
data

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,2020.1/4,합계,합계,"9,733,655","49,051","54,104","57,361","63,603","69,433","69,302",...,"7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996,"6,423"
1,2020.1/4,종로구,소계,"151,217",603,580,660,758,840,848,...,195,126,124,98,67,59,66,52,36,261
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,-,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,-,-,-,-,-,2,...,1,1,3,1,-,1,1,-,-,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,-,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22

In [81]:
per = []
dis = []
vil = []
total= []
one = []
ten = []
twenty = []
thirty = []
forty = []
fifty = []
sixty = []
seventy = []
eighty = []
ninety = []
hund = []

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Columns: 105 entries, 기간 to 100세 이상+
dtypes: object(105)
memory usage: 370.1+ KB

In [83]:
data.shape

(451, 105)

In [84]:
data.dtypes

기간          object
자치구         object
동           object
합계          object
0세          object
             ...
96세         object
97세         object
98세         object
99세         object
100세 이상+    object
Length: 105, dtype: object

In [206]:
data.columns[4: ].map(int)

ValueError: invalid literal for int() with base 10: '0세'

In [87]:
data

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,2020.1/4,합계,합계,"9,733,655","49,051","54,104","57,361","63,603","69,433","69,302",...,"7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996,"6,423"
1,2020.1/4,종로구,소계,"151,217",603,580,660,758,840,848,...,195,126,124,98,67,59,66,52,36,261
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,-,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,-,-,-,-,-,2,...,1,1,3,1,-,1,1,-,-,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,-,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22

In [125]:
a1 = data[ '0세' ]
a1

0      49,051
1         603
2          38
3           8
4          44
        ...
446         -
447       139
448       190
449       172
450       202
Name: 0세, Length: 451, dtype: object

In [149]:
for i in a1:
    if i == '-':
        
        i.replace('-','0')

-

In [148]:
a1

0      49,051
1         603
2          38
3           8
4          44
        ...
446         -
447       139
448       190
449       172
450       202
Name: 0세, Length: 451, dtype: object

In [130]:
for i in a1:
    print( i )

49,051
603
38
8
44
85
36
80
11
14
7
27
13
17
53
22
30
69
49
660
14
12
4
6
13
17
6
61
88
114
28
60
100
77
60
1,171
80
44
17
85
74
73
165
61
19
37
47
30
59
154
109
117
2,001
113
108
42
81
169
101
145
152
101
84
79
57
53
28
212
209
267
1,646
46
66
84
105
65
151
67
87
146
186
148
97
150
181
67
1,812
33
71
75
56
134
76
181
83
192
239
254
42
107
269
1,942
99
99
45
120
163
103
132
117
197
118
61
187
101
155
127
118
2,154
82
112
50
89
103
108
75
139
201
140
135
90
75
46
152
85
87
42
182
161
1,119
65
58
66
81
73
78
105
53
111
79
148
78
124
1,401
82
92
75
76
90
79
134
113
150
52
120
125
67
146
2,449
97
114
195
214
95
89
54
44
66
201
63
79
322
114
104
100
215
132
151
2,209
248
184
79
126
129
113
97
229
142
90
60
41
248
105
87
231
1,599
101
153
78
67
100
98
122
199
98
131
61
134
128
129
2,163
137
42
62
146
90
196
113
88
69
86
240
123
148
150
221
252
1,915
114
180
163
77
71
108
81
99
76
22
88
63
44
249
96
108
116
160
3,469
332
151
136
176
211
108
116
112
123
144
174
66
128
188
218
253
109
141
363
220
2,366
297
159
122
92
192
77
128
202
106
163
115
22
97
196
199
199
1,047
79
305
67
88
60
160
81
45
82
80
2,336
179
138
263
162
213
55
112
19
58
94
169
39
50
125
144
157
103
256
2,019
29
216
206
106
187
90
155
84
80
171
88
95
170
168
174
1,951
112
129
121
66
57
114
97
85
67
66
87
58
61
58
63
171
148
105
99
68
119
2,240
124
115
138
130
206
39
149
67
106
120
78
100
102
111
111
263
147
134
2,378
61
59
95
76
156
48
56
115
198
116
142
16
84
118
54
112
89
268
130
165
81
139
3,866
73
169
53
83
66
74
68
135
45
230
135
115
203
163
159
280
165
148
172
144
154
100
30
167
185
235
315
2,535
125
197
190
43
168
155
164
119
127
153
132
129
130
-
139
190
172
202

In [189]:
data.loc[data['0세'] == '-' ] = 0

In [190]:
data['0세']

0      49,051
1         603
2          38
3           8
4          44
        ...
446         0
447       139
448       190
449       172
450       202
Name: 0세, Length: 451, dtype: object

In [194]:
data.loc[ data['0세':'100세 이상+'] == '-' ] = 0

SyntaxError: invalid syntax (<ipython-input-194-e34e488be283>, line 1)

In [173]:
data.loc[0:] == '-'

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,False,False,False,False,False,True,True,True,True,False,...,False,False,False,False,True,False,False,True,True,False
447,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
448,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
449,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
450,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.loc[data['0세'] == '-' ] = 0

In [193]:
coll = data[ '0세':'100세 이상+' ]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [0세] of <class 'str'>

In [197]:
data.loc[data['0세'] == '-' ] = 0

In [198]:
coll = [ data['0세']:data['100세'] ]

SyntaxError: invalid syntax (<ipython-input-198-ac53bdddb27c>, line 1)

In [204]:
data[data.loc[:] == '-'] = '0'

In [205]:
data

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,2020.1/4,합계,합계,"9,733,655","49,051","54,104","57,361","63,603","69,433","69,302",...,"7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996,"6,423"
1,2020.1/4,종로구,소계,"151,217",603,580,660,758,840,848,...,195,126,124,98,67,59,66,52,36,261
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,0,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,0,0,0,0,0,2,...,1,1,3,1,0,1,1,0,0,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,0,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22