In [197]:
import pandas as pd

In [198]:
df = pd.read_csv('3.서울시 주민등록인구 내국인 각세별동별 통계.txt',sep = '\t', encoding = 'utf-8')

In [199]:
df

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,2020.1/4,합계,합계,"9,733,655","49,051","54,104","57,361","63,603","69,433","69,302",...,"7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996,"6,423"
1,2020.1/4,종로구,소계,"151,217",603,580,660,758,840,848,...,195,126,124,98,67,59,66,52,36,261
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,-,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,-,-,-,-,-,2,...,1,1,3,1,-,1,1,-,-,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,-,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22

In [200]:
    df[df.loc[:] == '-' ] = '0'

In [201]:
df

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,2020.1/4,합계,합계,"9,733,655","49,051","54,104","57,361","63,603","69,433","69,302",...,"7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996,"6,423"
1,2020.1/4,종로구,소계,"151,217",603,580,660,758,840,848,...,195,126,124,98,67,59,66,52,36,261
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,0,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,0,0,0,0,0,2,...,1,1,3,1,0,1,1,0,0,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,0,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22

In [204]:
st = df.loc[(~df['동'].str.contains('소계'))]

In [206]:
st=st.drop(0,axis=0)

In [207]:
st

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,0,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
5,2020.1/4,종로구,평창동,"18,609",85,86,101,96,139,139,...,29,22,20,14,11,6,10,11,3,24
6,2020.1/4,종로구,무악동,"8,720",36,44,63,76,77,79,...,10,9,8,2,0,3,1,3,4,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,0,0,0,0,0,2,...,1,1,3,1,0,1,1,0,0,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,0,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22

In [203]:
df.dtypes

기간          object
자치구         object
동           object
합계          object
0세          object
             ...
96세         object
97세         object
98세         object
99세         object
100세 이상+    object
Length: 105, dtype: object

In [196]:
df.str.replace(',', '').astype('int64')

AttributeError: 'DataFrame' object has no attribute 'str'

In [190]:
df

,기간,자치구,동,합계,0세,1세,2세,3세,4세,5세,...,91세,92세,93세,94세,95세,96세,97세,98세,99세,100세 이상+
0,2020.1/4,합계,합계,"9,733,655","49,051","54,104","57,361","63,603","69,433","69,302",...,"7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996,"6,423"
1,2020.1/4,종로구,소계,"151,217",603,580,660,758,840,848,...,195,126,124,98,67,59,66,52,36,261
2,2020.1/4,종로구,사직동,"9,553",38,38,46,68,58,83,...,19,12,7,13,5,4,6,1,4,18
3,2020.1/4,종로구,삼청동,"2,749",8,5,17,5,14,11,...,3,6,5,1,2,1,3,1,0,9
4,2020.1/4,종로구,부암동,"10,164",44,35,48,52,50,66,...,16,12,7,4,4,5,5,4,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020.1/4,강동구,둔촌1동,266,0,0,0,0,0,2,...,1,1,3,1,0,1,1,0,0,8
447,2020.1/4,강동구,둔촌2동,"27,376",139,162,166,202,191,213,...,26,20,13,14,4,7,6,6,0,13
448,2020.1/4,강동구,암사1동,"36,178",190,228,228,215,251,239,...,23,22,30,6,7,8,3,4,3,24
449,2020.1/4,강동구,천호2동,"34,925",172,226,182,199,220,166,...,27,23,19,7,13,8,9,7,2,25
450,2020.1/4,강동구,길동,"45,731",202,223,227,268,283,293,...,28,28,20,12,13,15,8,4,6,22

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Columns: 105 entries, 기간 to 100세 이상+
dtypes: object(105)
memory usage: 370.1+ KB

In [121]:
df.shape

(451, 105)

In [122]:
df.dtypes

기간          object
자치구         object
동           object
합계          object
0세          object
             ...
96세         object
97세         object
98세         object
99세         object
100세 이상+    object
Length: 105, dtype: object

In [208]:
df.drop('기간', axis = 1, inplace = True )

In [209]:
df2 = df.loc[:,['자치구','동','합계']]
df2

     자치구     동         합계
0     합계    합계  9,733,655
1    종로구    소계    151,217
2    종로구   사직동      9,553
3    종로구   삼청동      2,749
4    종로구   부암동     10,164
..   ...   ...        ...
446  강동구  둔촌1동        266
447  강동구  둔촌2동     27,376
448  강동구  암사1동     36,178
449  강동구  천호2동     34,925
450  강동구    길동     45,731

[451 rows x 3 columns]

In [210]:
df3 = df.iloc[:,3:103]
df3

,0세,1세,2세,3세,4세,5세,6세,7세,8세,9세,...,90세,91세,92세,93세,94세,95세,96세,97세,98세,99세
0,"49,051","54,104","57,361","63,603","69,433","69,302","68,512","74,935","73,492","75,341",...,"9,518","7,964","6,244","4,714","3,357","2,427","2,326","1,913","1,350",996
1,603,580,660,758,840,848,862,999,903,"1,006",...,210,195,126,124,98,67,59,66,52,36
2,38,38,46,68,58,83,76,80,62,69,...,20,19,12,7,13,5,4,6,1,4
3,8,5,17,5,14,11,14,10,17,11,...,8,3,6,5,1,2,1,3,1,0
4,44,35,48,52,50,66,69,88,68,90,...,15,16,12,7,4,4,5,5,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,0,0,0,0,0,2,0,3,0,2,...,0,1,1,3,1,0,1,1,0,0
447,139,162,166,202,191,213,209,223,191,222,...,21,26,20,13,14,4,7,6,6,0
448,190,228,228,215,251,239,230,263,251,256,...,34,23,22,30,6,7,8,3,4,3
449,172,226,182,199,220,166,156,175,189,177,...,31,27,23,19,7,13,8,9,7,2
450,202,223,227,268,283,293,260,281,293,291,...,50,28,28,20,12,13,15,8,4,6

In [211]:
df3 = df3.apply( pd.to_numeric )

ValueError: Unable to parse string "49,051" at position 0

In [147]:
df3.iloc[0]

0세     49,051
1세     54,104
2세     57,361
3세     63,603
4세     69,433
        ...
95세     2,427
96세     2,326
97세     1,913
98세     1,350
99세       996
Name: 0, Length: 100, dtype: object

In [144]:
df3.iloc[0]

0세     49,051
1세     54,104
2세     57,361
3세     63,603
4세     69,433
        ...
95세     2,427
96세     2,326
97세     1,913
98세     1,350
99세       996
Name: 0, Length: 100, dtype: object

In [77]:
df3.dtypes

동      float64
합계     float64
0세     float64
1세     float64
2세     float64
        ...
94세    float64
95세    float64
96세    float64
97세    float64
98세    float64
Length: 101, dtype: object

In [59]:
df1 = pd.concat( [ df2, df3 ], axis = 1 )

In [67]:
df1.dtypes

자치구          object
동            object
0세          float64
1세          float64
2세          float64
             ...
96세         float64
97세         float64
98세         float64
99세           int64
100세 이상+    float64
Length: 103, dtype: object